---
import Header from "../components/header.astro";
const pageTitle = "Home"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<img src="/img/logo/foto.jpeg" alt="">
		<a href="/about">pergi ke halaman about</a>
	</body>
</html>
