---

---

<header>
    <div class="container">
        <a class="logo" href="">
            <!-- <img src="../../public/img/logo/logo.jpeg" alt=""> -->
        </a>
        <nav>
            <a href ="/"> Home </a>
            <a href ="/about"> About </a>
        </nav>
    </div>
</header>