<div class="hero-section">
    <div>
        <h1>Managed Farmland</h1>
        <p>Start owning your farmland and leave the hard part to us</p>
        <button>Start Now</button>
    </div>
    <img src="hero-image.svg" width="400px"/>
</div>

<style>
    .hero-section {
        margin: 1rem;
        padding: 4rem;
        border-radius: 2rem;
        background-color:#F9EBC4;
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .hero-section div {
        flex: 1
    }

    .hero-section div p {
        margin: 2rem 0px;
    }
</style>